<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="pomoico.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>綠色番茄鐘</title>
</head>
<style>
     :root {
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 1.2rem;
    }
    
    h1 {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
        text-align: center;
        font-size: 1.2rem;
        font-weight: normal;
    }
    
    .pomoClock {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        background-color: #fff;
        z-index: 5;
        padding: 0 50px
    }
    
    .fa {
        color: #399;
        font-size: 1.8rem;
        cursor: pointer;
    }
    
    .pomoCookie {
        position: absolute;
        bottom: 0;
        padding: 0 10px;
    }
    
    .pomoCookie p span:nth-child(2) {
        padding-left: 30px;
    }
</style>

<body>
    <div id="app">
        <section>
            <h1>{{displayMsg}}</h1>
            <div class="pomoClock">
                <p>{{pomoMinute(displayTime)}}：{{pomoSecond(displayTime)}}</p>
                <span v-if="!isBreak">
                    <i class="fa fa-pause-circle" aria-hidden="true" v-if="isCount" @click='pauser'></i>
                    <i class="fa fa-play-circle" aria-hidden="true" v-else @click='pomoer'></i>
                </span>
                <i class="fa fa-stop-circle" aria-hidden="true" v-if="!isInit" @click='stopper'></i>
            </div>
        </section>
        <footer class="pomoCookie">
            <p>
                <span>已採收：{{timesCookie%4}}/4番茄</span>
                <span>已收穫：{{Math.floor(timesCookie/4)}}棵番茄樹</span>
            </p>
        </footer>
    </div>
    </div>
</body>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            displayMsg: null,
            displayTime: null,
            countInterval: null,
            notifyGranted: false,
            isBreak: false,
            isInit: true,
            isCount: false,
            timesCookie: 0,
            msg: {
                beforePomo: "開始熱血🍅吧",
                pause: "🍅在等你採收喔~",
                pomo: "\\ 番茄🍅時光 /",
                shortBreak: "小歇片刻，🍅熟了最好吃",
                longBreak: "好好休息，等下一棵番茄樹……",
            },
            time: {
                pomo: 3,
                shortBreak: 1,
                longBreak: 2
            }
        },
        beforeMount() {
            this.initPomo()
            this.initNotify()
        },
        methods: {
            initPomo() {
                this.isBreak = false
                this.isCount = false
                this.isInit = true
                this.displayMsg = this.msg.beforePomo
                this.displayTime = this.time.pomo
            },
            initNotify() {
                if (!('Notification' in window)) {
                    console.log('This browser does not support notification');
                }
                switch (Notification.permission) {
                    case 'default':
                    case 'undefined':
                        Notification.requestPermission()
                        break
                    case 'granted':
                        this.notifyGranted = true
                        break
                }
                console.log(Notification.permission)
            },
            //on-click
            pomoer() {
                this.isCount ? this.pause2recount() : this.start2countdown()
            },
            pauser() {
                this.countdown2pause()
            },
            stopper() {
                this.countdown2stop()
            },
            //倒數器
            countdown() {
                this.timeInterval = setInterval(() => {
                    this.displayTime = this.displayTime - 1
                    if (this.displayTime < 0) {
                        this.notifyGranted ? this.showNotify() : this.showAlert()
                        clearInterval(this.timeInterval)
                        this.displayTime = 0
                        this.check_break_start()
                    }
                }, 1000)
            },
            check_break_start() {
                this.isBreak ? this.break2start() : this.countdown2break()
            },
            // 狀態機
            start2countdown() {
                this.isInit = false
                this.isCount = true
                this.displayMsg = this.msg.pomo
                this.countdown()
            },
            //暫停
            countdown2pause() {
                this.isCount = false
                this.displayMsg = this.msg.pause
                clearInterval(this.timeInterval)
            },
            pause2recount() {
                this.displayMsg = this.msg.pomo
                this.countdown()
            },
            //倒數~休息
            countdown2break() {
                this.isBreak = true
                if (this.timesCookie % 4 != 3) this.executeShortBreak()
                else this.executeLongBreak()
                this.countdown()
            },
            executeShortBreak() {
                this.displayMsg = this.msg.shortBreak
                this.displayTime = this.time.shortBreak
            },
            executeLongBreak() {
                this.displayMsg = this.msg.longBreak
                this.displayTime = this.time.longBreak
            },
            break2start() {
                this.timesCookie++
                    this.initPomo()
            },
            countdown2stop() {
                this.ask("臨時停止的話就無法採收這顆🍅了！\n確定要停止嗎？", () => {
                    clearInterval(this.timeInterval)
                    this.initPomo()
                })
            },
            ask(question, yes) {
                if (confirm(question)) yes()
            },
            //時間顯示
            padZero(numVar, numLength) {
                return (Array(numLength).join("0").slice(-numLength) + numVar).slice(-numLength)
            },
            pomoMinute(time) {
                return this.padZero(Math.floor(time / 60), 2)
            },
            pomoSecond(time) {
                return this.padZero(time % 60, 2)
            },
            //推播
            showNotify() {
                this.notify = new Notification("時間到", {
                    body: "綠色番茄關心您",
                    icon: "pomonoti.ico"
                })
            },
            showAlert() {
                alert("時間到")
            }
        }
    })
</script>

</html>